//顏色
$purple: #8A82CC;
$orange: #E99A56;
$yellow: #F5D105;
$blue: #559AC8;
$green: #81c855;

//灰階
$white: #FFFFFF;
$gray: #555;
$black: #000;

$font-color: rgb(48, 48, 48);
$box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);

