.a_title{
    text-align: center;
    color: $purple;
    font-size: 36px;
    margin-bottom: 24px;
}

.a_title--fir{
    color: $purple;
}

.a_title--sec{
    color: $orange;
}
.a_title--thr{
    color: $yellow;
}
.a_title--for{
    color: $blue;
}
.a_title--fiv{
    color: $green;
}